.loader-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.loader-container img{
    object-fit: cover;
}
  .loading-label{
    color: white;
  }
  .tutorial-banner {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .loader-image-container{
    height: 100vh;
    width: 100%;
    overflow: hidden;
  }
  .loader-image-container img {
    object-fit: cover;
    object-position: 55% 55%;
    width: 100%;
    height: 100%;
  }
  .loading-label-progess-bar{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    gap: 1rem;
  }
  .loading-label{
    color:#fff;
    text-align: center;
    font-family: "Brandon Text-Bold", sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    margin: 0;
  }
  .loader-trivia-crack-image {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
}

@media screen and (min-width: 600px) {
  .loader-image-container img {
    transform: scale(1.2) translateX(-7%);
    object-fit:cover;
    object-position: 55% 40%;
    width: 100%;
    height: 100%;
  }
  .loader-trivia-crack-image {
    position: absolute;
    top: 50%;
    left: auto;
    right: 5%;
    transform: translateY(-50%);
}

}